{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

{% if editMode %}
    <h1>Modification </h1>
{% else %}
    <h1>Création d'un article !!! </h1>
{% endif %}

    {{ form_start(form) }}

    {{ form_row(form.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
    {{ form_row(form.category) }}
    {{ form_row(form.content, {'attr': {'placeholder': "Contenu de l'article"}}) }}
    {{ form_row(form.image, {'attr': {'placeholder': "URL de l'image de l'article"}}) }}
    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Envoyer l'article
        {% endif %}
    </button>
    {{ form_end(form)  }}

{% endblock %}